body {
    background-color: grey;
}
.main-cotainer {
    display: flex;
    justify-content: space-evenly;
    flex: wrap;
    align-items: flex-start;
    background-color: #2e2e2e;
    color: white;
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    width: 70%;

}
.box1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 100px;
    padding: 10px;
    font-size:25px;
}
.box1 img {
    width: 200px;
}

.box2 {
    display: flex;
    justify-content: space-evenly;
    padding-right: 5%;
    flex-direction: column;
    
}

.profile-pic {
    border-radius: 70%;
    width: 20%;
    height: 20%;
}

.box3 {
    flex-direction: column;
    align-items: baseline;
    background-color: #2e2e2e;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.6;
}
@media only screen and (max-widht:600px) {
    html {
        width: 90%
    }
  }